.SearchResultsMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden !important;
}

.SearchResultsInnerLeft {
  // width: 100%;
  //max-width: 1000px;
  //margin-left:140px;
  margin: auto;
  padding: 0.5em;
}

.SearchResultsInnerRight {
  width: 50vh;
  padding: 0.5em;
  // margin-top: 5em;
}


.result-slider {
  margin-left: 0;
  width: 100%;
  position: relative;
}

.prev-arrow, .next-arrow {
  position: absolute;
  z-index: 995;
  height: 50px;
  width: 50px;
  background-color: rgba(89, 227, 167, 0.5);
  font-size: 2rem;
  border-radius: 100%;
  cursor: pointer;
  color: #000;
  transform: translateY(-50%);
}

.prev-arrow:focus, .next-arrow:focus {
  outline: 0;
  box-shadow: 0;
}

.prev-arrow {
  left: 0;
  top: 50%;
}

.next-arrow {
  right: 0;
  top: 50%;
}

.img-slider {
  width: 1200px;
}

.swiper {
  width: 100%;
  //padding-top: 50px;
  //padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  //width: 300px;
  //height: 300px;
}

.mySwiper {
  max-width: 1800px;
  width: 98vw;
  margin: auto;
  //background-color: red;
}

.chatbot-result {
  height: 120px;
  margin: auto !important;
}

.result-image-wrapper a {
  margin: 0;
}

.result-image-link {
  text-decoration: none;
  //width: 450px;
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid rgba(89, 227, 167, 0.8);
}

.result-image-link .image-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
  z-index: 5;
  font-size: 1.2rem;
  color: #fff;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.result-image-link:after {
  content: " ";
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 1;
  background: linear-gradient(360deg, #333333 0%, rgba(71, 182, 134, 0) 100%);
  transition: opacity 0.2s ease-in;
}

.result-image-link:hover .result-image-item {
  transform: scale(1.1);
}

.result-image-link:hover:after,
.result-image-link:hover .image-text {
  opacity: 0;
}

.result-image-link:hover .image-text {
  color: #fff;
}

.result-image-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: 0.2s all ease-in;
}

.result-video-card {
  height: 450px;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.result-video-card .video-ele {
  height: 250px;
  object-fit: cover;
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .SearchResultsInnerLeft {
    margin-left: auto;
    margin-right: auto;
    //width: 60%;
  }
  .SearchResultsInnerRight {
    width: 40%;
    padding: 0;
    margin-left: 30px;
  }

  .img-slider {
    width: 90vw;
  }

  .result-slider {
    margin-left: 0px;
    //width: 90vw;
  }
}

@media screen and (max-width: 700px) {
  .SearchResultsMain {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden !important;
  }
  .SearchResultsInnerLeft {
    width: 100%;
    //margin-left: 0px;
  }
  .SearchResultsInnerRight {
    width: 100%;
    margin-top: 1em;
    padding: 0em;

  }
  .result-slider {
    //margin-left: 5px;
    width: 100%;
  }

  .img-slider {
    width: 100%;
  }

  .mySwiper {
    max-width: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0 !important;
    //padding: 0 1rem;
  }

  .chatbot-result {
    height: 100px;
    padding: 0;
    font-size: 14px;
  }

  .chatbot-result-card {
    padding: 0 !important;
  }

  .prev-arrow, .next-arrow {
    background-color: rgba(89, 227, 167, 0.5);
  }

  .result-image-link {
    height: 400px;
  }

  .result-video-card {
    height: 400px;
  }

  .result-video-card .video-ele {
    height: 200px;
  }

  .search-result-images .swiper-slide:not(.swiper-slide-active) {
    //opacity: 0.1;
  }
}
