.HowItWorkbox {
    height: 489.5672912597656px;
    width: 340.6538391113281px;
    background: #fff;
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 195.827px 195.827px 43.5171px 43.5171px;
}

/* .rectangleimages { */
    /* background: url("../../assets/images/howWorks/Ornament.png"); */
/* } */

.HowItWorkbox h2 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4079727828502655px;
    text-align: center;
}

.HowItWorkbox p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}
